<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
            <form #f="ngForm" (ngSubmit)="onCreate(f.value)">
                <div class="form-group">
                    <label for="image">Image Path</label>
                    <input type="text" class="form-control" 
                    id="image" 
                    ngModel
                    name="image"
                    required>
                </div>
                <div class="form-group">
                    <label for="title">Card Name</label>
                    <input type="text" class="form-control" 
                    id="title" 
                    ngModel
                    name="title"
                    required>
                </div>
                <div class="form-group">
                    <label for="description">Card Description</label>
                    <textarea type="text" class="form-control" 
                    rows="4" 
                    id="description" 
                    ngModel
                    name="description"
                    required></textarea>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-default form-control" 
                        [disabled]="!f.valid">Create Card</button>
                    </div>
                </div>
            </form>     

            <div class="row">
                <div class="col-xs-12">
                    <hr>    
                    <p *ngIf="inputData.length < 1">No data available.</p>                     
                    <div class="row">
                        <div class="col-xs-4" *ngFor="let data of inputData; let i = index">
                            <ul class="list-group" *ngIf="inputData.length >= 1">
                                <li class="list-group-item">
                                    <img src={{data.image}} class="img-responsive" style="border-radius: 50%; width: 150px; height: 150px; text-align: center">
                                    <h4 style="text-align: center;">{{data.title}}</h4>
                                    <p style="overflow: auto; height: 50px; width: 150px">{{data.description}}</p>
                                </li>
                                <br>
                                <div class="row">
                                    <!-- <div class="col-xs-6">
                                        <button type="button" class="btn btn-success form-control">Edit</button>
                                    </div> -->
                                    <div class="col-xs-12">
                                        <button type="button" class="btn btn-primary form-control" (click)="onX(i)">Delete</button>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div> 
                </div>
                <br><br>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-success form-control" (click)="onFetch()">Restore</button>
                </div>
                <div class="col-xs-6" *ngIf="inputData.length >= 1">
                    <button style="text-align: center;" type="button" class="btn btn-danger form-control" (click)="onDelete()">Delete Permanently</button>
                </div>
            </div>
        </div>
    </div>
</div>