<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p *ngIf="saveData.length < 1">No data available.</p>
                    <button type="button" class="btn btn-primary" routerLink="/create">Create a new one</button>                        
                </div> 
            </div>
            <br>                     
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let data of saveData; let i = index">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <img src={{data.image}} class="img-responsive" style="border-radius: 50%; width: 150px; height: 150px; margin: auto;">
                            <hr>
                            <h4 style="text-align: center;">{{data.title}}</h4>
                            <p style="overflow: auto; height: 80px;">{{data.description}}</p>
                        </li>
                        <br>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-default form-control" (click)="onX(i)">Delete</button>
                            </div>
                        </div>
                    </ul>
                </div>
            </div> 
            <br><br>
            <div class="row desktop-cont" style="margin-bottom: 50px;">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <button type="button" class="btn btn-success form-control" (click)="onFetch()">Restore</button>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <button style="text-align: center;" type="button" 
                    class="btn btn-danger form-control"
                    *ngIf="saveData.length >= 1" 
                    (click)="onDelete()">Delete Permanently</button>
                </div>
            </div>

            <div class="row mobile-cont" style="margin-bottom: 50px;">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-success form-control" (click)="onFetch()">Restore</button>
                </div>
                <br><br>
                <div class="col-xs-12">
                    <button style="text-align: center;" type="button" 
                    class="btn btn-danger form-control"
                    *ngIf="saveData.length >= 1" 
                    (click)="onDelete()">Delete Permanently</button>
                </div>
            </div>
        </div>
    </div>
</div>