@media(min-width: 769px) {
    .desktop-cont {
        visibility: visible;
    }

    .mobile-cont {
        display: none;
    }
}

@media(max-width: 768px){
    .desktop-cont {
        display: none;
    }

    .mobile-cont {
        visibility: visible;
    }
}